@media screen and (max-width:419px) {

.row {
    width: 100%;
    margin: 0 auto;
}
#lezioni .row>.left,
#lezioni .row>.right, #steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  width: 100%;
  float: none;
}
img {
  max-width: 100%;
}
h3{
  font-size: 26px;
}

.left, .central, .right, .first, .second, .third{
  margin-bottom: 50px;
  font-size: 20px;
}

}
